@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    flex-direction: column;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.logo{
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul {
flex-direction: column;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

span{
    color: darkcyan;
}

nav {
    overflow: hidden;
}

nav .icon {
    display: none;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: rgb(0, 68, 68);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-weight: bold;
}

nav ul li a:hover{
    color:darkcyan;
    transition: .4s;
}


.btn{
    background-color: darkcyan;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

/* Main Area */

main {
    position: center;
}

.content {
    display: grid;
    justify-content: center;
    margin: 30px;
    margin-top: 130px;
    align-items: baseline;

    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

h1{
    color: black;
    margin: 20px 0px 20px;
    font-size: 40px;
}
h3{
    color: black;;
    font-size: 20px;
    margin-bottom: 10px;
}
h4{
    color: black;;
    letter-spacing: 2px;
    font-size: 15px;
}
.contactinfo p a{
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
}

.content1 {
    margin: auto 15px;
}

.content1 p{
    font-size: 14px;
}

.content2 {
        line-height: 30px;
        margin: auto 15px;
}

.content2 h2 {
    color: darkcyan;
    font-weight: bold;
}

.content2 p{
    padding-top: 2px;
    color: rgb(0, 45, 45);
}


/* Second half */
.about {
    width: 100%;
    background-color: #191919;
}

.text {
    width: 550px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    width: 550px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.research h2{
    font-size: 40px;
}

/* SKILLS */

.service {
    background: rgb(0, 106, 106);
    width: 100%;
    padding: 5px 0px;
    margin-top: 100px;
}

.title h2 {
    color: white;
    font-size: 40px;
    width: 1130px;
    margin: 8px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.card{
    height: 300px;
    width: 335px;
    padding: 20px 35px;
    background: #ffffff;
    border-radius: 8px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.service h5{
    font-size: 20px;
    padding-top: 2px;
    font-weight: 500;
    border-bottom:1px solid black;
}

.pra ul li{
    font-size: 20px;
    margin-bottom: 25px;
    display: inline;
    line-height: 1.3;
}



/* Contact.html */

.contact-me{
    width: 100%;
    height: 290px;
    background: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.publications {
    margin-bottom: 20%;
}

.cv {
    align-items: right;
}

iframe {
    align-items: center;
}

button {
    margin: 5%;
    padding: 1%;
    background-color: white;
    border-radius: 2px;
}

footer {
    align-items: center;
    font-size: small;
    margin: 0;
    padding: 3%;
    padding-bottom: 20px;
    color: white;
    background-color: rgb(0, 106, 106);
 }


 /*
 @media only screen and (max-width: 640px) {
    .navbar ul, .navbar a{
        background-color: lightblue;
        display: none;
    }
    .navbar .icon {
        display: block;
    }
    .header{
        padding: 10px 15px;
        position: sticky;
        top: 103px;
    }
    ul {
        background-color: yellow;
        display: none;
    }
  }
*/

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 800px) {
    .box {
      flex-direction: column;
    }
    .title {
        text-align: left;
      }
  }

